*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    width: 90%;
    margin: 20px auto;
}

.nav__container{
    display: flex;
    justify-content: space-between;
}

.img-logo, .img-menu{
    width: 100%;
}
