:root{
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

/* CSS */
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1200px;
}

.nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__hamburguer{
    background-image: url('/images/icon-menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    width: 30px;
    cursor: pointer;
    /* Hacer visible el menú hamburguer/close */
    z-index: 100;
    transition: background-image .3s;
}

/* Class extra nav-hamburguer open */
.nav__hamburguer--open{
    background-image: url('/images/icon-close-menu.svg');
}

.nav__overlay{
    background-color: rgba(0, 0, 0, 0.528);
    /* Sacar del flujo de flexbox */
    position: fixed;
    /* Posicionarlo en base a todo el navegador */
    inset: 0;

    /* Ocultar el menusidebar */
    opacity: 0;
    /* desactivar eventos mouse */
    pointer-events: none;
    transition: .3s opacity;
}

/* Class extra nav__overlay open */
.nav__overlay--open{
    opacity: 1;

    /* Que vuelva a su estado original */
    pointer-events: unset;
    
}

.nav__menu{
    background-color: white;
    /* Position absolute en relación al fixed */
    position: absolute;
    /* top:0 bottom:0 para ocupar el 100% de height */
    top:0;
    bottom: 0;
    right: 0;
    width: 65%;
    max-width: 400px;
    padding: 0;
    list-style: none;
    /* En caso de requerir más espacio se genera un scroll */
    overflow: auto;
    padding: 80px 0;
}

.nav__item{
    width: 80%;
    margin: 0 auto;
    padding: 17px 0;
    cursor: pointer;
    color: var(--almost-black);
}

.nav__item:has(.nav__parent){
    padding: 0;
}

.nav__parent{
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 15px;
    padding: 15px 0;
}

.nav__inner{
    list-style: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 2px;
    overflow: hidden;
    
    height: 0;
    transition: height .4s;
}

.nav__link{
    text-decoration: none;
    color: var(--almost-black);
}

.nav__dropdown{
    padding: 13px 0;
}

.nav__login{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.nav__login--border{
    border: 2px solid var(--medium-gray);
    border-radius: 16px;
    margin-top: 15px;
}

.nav__sign{
    text-decoration: none;
    display: inline-block;
    color: var(--medium-gray);
    padding: 13px 0;
}

